body {
  font-family: 'Segoe UI', sans-serif;
  background: #fff9f9;
  color: #333;
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

h1 {
  text-align: center;
  font-family: 'Georgia', cursive;
  color: #ba68c8;
}

.semestre {
  border: 2px solid #f0c4e3;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 15px;
  background-color: #fdf1f8;
}

.semestre h2 {
  margin-top: 0;
  color: #7b1fa2;
}

label {
  display: block;
  margin: 0.5rem 0;
}
